* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
  scroll-behavior: smooth;
}
.home p{
  margin-bottom: 25px;
}



header {
  background: #111;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo span {
  color: #00bcd4;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s;
}
.nav-links a:hover {
  color: #00bcd4;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Home Section */
.home {
  height: 100vh;
  background: linear-gradient(to right, #001f3f, #0074D9);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}
.home h1 span {
  color: #070707;
}
.home .btn {
  background: #00bcd4;
  padding: 10px 20px;
 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  
}
.home .btn:hover {
  background: #0097a7;
}

/* About Section */
.about, .skills, .projects, .contact {
  padding: 60px 40px;
  text-align: center;
}
.about p {
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.6;
}

/* Skills Section */
.skill-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.skill {
  background: #00bcd4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
}

/* Projects Section */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.project-card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* Contact */
.contact form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 15px;
}
.contact input, .contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact button {
  background: #00bcd4;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.contact button:hover {
  background: #0097a7;
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}

